body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: rgb(13, 9, 31);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mintDialog {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

li { /* styles all li elements*/
    list-style-type: none;
}

#anch { /* styles all li elements*/
    font-family: "sans-serif";
    font-size: "1.5rem";
    color: "antiquewhite";
}

button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
    cursor: pointer;
}

button[type="submit"] {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
   }
   
   button[type="submit"]:hover, button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
   }
